.Chart {
  height: 40vh;
  padding: 1rem;
  background-color: var(--gray-300);
  /* display:flex; */
  /* flex-direction: row;
  align-items:flex-end;
  transition: 0.75s ease-in-out; */
  border: 1px solid;
  display:flex;
  /* flex-direction:row; */
  /* align-items: center;  flex-start or end or just stretch */
  /* flex-direction: column reverse;   */
  /* All the bars are going to be aligned at the bottom of the page */
  align-items:flex-end; 
}

/* .Chart div{
  border:1px solid;
} */
/* @media(min-width:768px){
 put containers in here.  Idea here is if width is less, then we get vertical display
}*/