.ColorKeys{
  display:flex;
  flex-flow:row wrap;
  width:80%;
  padding:1rem;
  margin: 0 auto;
  text-align:left;
  font-family: sans-serif;
}

.ColorKey_Item{
  display: inline-flex;
  align-items: center;
  margin-right: 4rem;
  padding: 4px;
}

.ColorKey_Box {
  /* flex-shrink:0; */
  height:1.3rem;
  width:1.3rem;
  margin-right:1rem;
}
.ColorKey_Unsorted{
  border: 1px solid var(--text-color);
  background-color: var(--white);
}
.ColorKey_Sorted{
  background-color: var(--primary-dark);
}
.ColorKey_StateA {
  background-color: var(--amber);
}

.ColorKey_StateB {
  background-color: var(--secondary);
}